<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
  </head>
  <body>
    <%=@dojo.branch%> Dojo
    <p></p>
    Address: <%=@dojo.street%>
    <p></p>
    City: <%=@dojo.city%>
    <p></p>
    State:<%=@dojo.state%>

  </body>
</html>
